/Makefile
/auto/
!/auto/options
/auto/cc/
!/auto/cc/conf
/auto/lib/
/auto/lib/openssl/
!/auto/lib/openssl/make
/auto/lib/pcre/
!/auto/lib/pcre/make
/auto/os/
/auto/types/
/objs/
/src/core/
!/src/core/ngx_inet.h
/src/http/
/src/event/
/src/mail/
/src/misc/
/src/os/unix/
/src/os/win32/
!/src/os/win32/ngx_win32_config.h
!/src/os/win32/nginx.ico
!/src/os/win32/nginx.rc
!/src/os/win32/nginx_icon16.xpm
!/src/os/win32/nginx_icon32.xpm
!/src/os/win32/nginx_icon48.xpm
!/src/os/win32/nginxyz.ico
!/src/os/win32/nginxyz.rc
!/src/os/win32/nginxyz_icon16.xpm
!/src/os/win32/nginxyz_icon32.xpm
!/src/os/win32/nginxyz_icon48.xpm
/src/stream/
/tmp/
